    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Saas Project App", root_path, class: "navbar-brand" %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "/path1"  %></li>
            <li><%= link_to "Link2", "/path2"  %></li>
            <% if current_user %>
            <li><%= link_to "<i class='fa fa-users'></i> Add Members".html_safe, new_member_path %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-right col-md-4">
               <% if current_user %>
               <li class="col-md-8 user-name text-right">
                 <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile', class: 'btn-profile' %>
               </li>
               <li class="col-md-1">&nbsp;</li>
               <li class="col-md-3 logout">
                  <%= link_to("Log out", destroy_user_session_path, class: "btn btn-xs btn-danger btn-log-out", title: 'Logout', method: :delete) %>
               </li>
               <% else %>
                  <li class="col-md-4 pull-right">
                    <%= link_to('Sign In', new_user_session_path, class: 'btn btn-md btn-primary btn-sign-in', title: 'Sign In')%>
                  </li>
               <% end %>
           </ul>
        </div>
      </div>
    </div>